.negative {
    background-color: #b74a0e;
    border: 1px solid #b74a0e;
    margin-right: 20px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: medium;
}

.negative:hover {
    background-color: white;
    color: #b74a0e;
}

.neutral {
    background-color: #686767;
    border: 1px solid #686767;
    margin-right: 20px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: medium;
}

.neutral:hover {
    background-color: white;
    color: #686767;
}

.positive {
    background-color: #17bbbc;
    border: 1px solid #17bbbc;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: medium;
}

.positive:hover {
    background-color: white;
    color: #17bbbc;
}